.explore-container {
    background-image: url('https://images.pexels.com/photos/1998439/pexels-photo-1998439.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Set the minimum height to the full viewport height */
  }
  
  .link {
    color: #fff;
  }
  
  .row {
    margin: 1rem 0;
  }
  
  .ant-btn-primary {
    background-color: #459A9B;
    border-color: #459A9B;
    font-weight: bold;
  }
  
  .ant-btn-primary:hover {
    background-color: #459A9B;
    border-color: #459A9B;
  }
  
  .ant-input {
    font-size: 1.2rem;
    border-radius: 50px;
  }
  
  .ant-btn {
    border-radius: 50px;
    font-weight: bold;
  }
  
  .ant-select-item-option-content {
    font-size: 1.2rem;
  }
  
  .ant-select-item-option-active {
    background-color: #459A9B;
  }
  
  .ant-select-dropdown {
    border-radius: 20px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  }
  
  .ant-select-dropdown-menu {
    max-height: 300px;
    overflow-y: scroll;
  }
  